
@font-face {
    font-family: 'cmme';
    src: url('fonts/cmme.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.JDialog
{
    border:1px solid black;
    background-color: lightgray;
    width:auto !important;
    height:auto !important;
    
}

.JCheckBox
{
    width:20px;
    height:20px;
}

.JRadioButton
{
    height:20px;
}

.JTabbedPane_button
{

}

.JComboBox
{

}

.JComboBox_item
{
    
}

.JTabbedPane_container
{
    width:100%;
    height:100%;
}

.Window
{
    width:50%;
    height:90%;
}

.JPanel
{
    height:80% !important;
}



html
{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    border:none;
}

body {
    font-family: 'CustomFont', sans-serif;

    width:100%;
    height:100%;
    padding:0;
    margin:0;
    border:none;
}
